<!-- home.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Chat</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src="assets/Foto de presentación.jpg" alt="Mateo">
    <img src="assets/Presentación_Nicole.jpeg" alt="Nicole">
    <img src="assets/Presentación_Erick.jpg" alt="Erick">

    <!-- Utiliza el evento (click) para llamar a la función que manejará la navegación -->
    <ion-button (click)="goToLoginPage()" expand="full">Login</ion-button>
  </div>
</ion-content>
